:root {
    --section-medyoblack-color:#101010;
    --section-masblack-color:#202020;
    --section-medyoGray-color:#3f3d37;
    --section-lowGray-color:#7a7b6c;
    --white-color:#ffffff;
     --main-color:#df9b0a; 
     --section-black-color:#000000;
     --backgroun-transparent: hsl(0 0% 0% / .6);
}
body::-webkit-scrollbar {
    display: none;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*start of navigation bar*/
header {
    position: fixed;
    height: 100px;
    width: 100%;
    background:var(--backgroun-transparent);
    z-index: 2;
    box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.49);
    -webkit-box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.49);
}
.navigation {
    display: flex;
    color: var(--white-color);
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.menu {
    display: none;
}
.logo img {
    height: 90px;
    width: 90px;
    margin-top: -1.2em;
}
.tab {
    display: flex;
    color: var(--white-color);
    font-weight: 650;
    margin-top: -1em;
}
.tab li {
    list-style: none;
    margin-block: 3rem;
    margin-inline: 1em;
    border-radius: 20px;
    padding-inline: 1em;
    padding-block: .3em;
    font-weight: 650;
    border: 3px solid var(--white-color);
    box-shadow: inset 0 0 0.5em 0 var(--section-masblack-color),
    0 0 0.5em 0 var(--main-color);
    transition: all ease-in-out .5s;
}
.tab li:hover {
    background-color: var(--white-color);
}
.tab li a {
    text-decoration: none;
    color: var(--white-color);
    transition: all ease-in-out .5s;
}
.tab li a:hover {
    color: var(--section-black-color);
}

#active {
    border: 2px solid var(--white-color);
    border-radius: 15px;
    background: var(--white-color);
}
.active {
    color: var(--section-black-color) !important;
}
.menu button {
    border: 3px solid var(--white-color);
    box-shadow: inset 0 0 0.5em 0 var(--section-masblack-color),
    0 0 0.5em 0 var(--main-color);
}
/* format Dislay */
.alignCenter {
    display: flex;
    justify-content: center;
}
#tagname {
    margin-top: 1.5em;
    margin-bottom: 2em;
    font-weight: 700;
    color: var(--white-color);
    position: relative;
}
.tagnameColor {
    color: var(--main-color);
}
/* top header */
.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 4em;
}
/* top header */
.top-section {
    background-image: url(../assets/5.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.about-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.about-letter {
    font-size: 4rem;
    font-weight: 700;
    border: 4px solid var(--main-color);
    padding: 1.5rem 4rem;
    color: var(--white-color);
    /* color: rgb(177, 164, 164); */
}

/* owner-section */
.owner-section {
    padding: 1rem;
    background-color: var(--section-masblack-color);
    max-height: 100vh;
    padding-bottom: 5rem;
    
}
/* slide swiper */
.slide-container {
    max-width: 95%;
    width: 100%;
    padding: 0px 20x;
    
}
.slide-content{
    margin: 0 50px;
    background-color: transparent;
    overflow: hidden;
    /* border-radius: 25px; */
}
.card{
    width: 300px !important;
    background-color: transparent !important;
    border: 3px solid var(--section-masblack-color);
}
/* height provide in flip effect */
div.card.swiper-slide {
    min-height: 300px;
}
.image-content,.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    
}
.image-content {
    position: relative;
    row-gap: 5px;
    border-radius: 25px;
    
}
.material-symbols-outlined {
    font-size: 10rem !important;
    color: var(--white-color);
}
.name {
    font-size: 18px;
    font-weight: 500;
    color: var(--white-color);
}
.description {
    font-size: 14px;
    color: var(--white-color);
    text-align: center;
}
.button {
    background-color: var(--section-medyoblack-color);
    color: var(--main-color);
    border-radius: 20px;
    padding-inline: 1.5em;
    padding-block: .5em;
    font-weight: 650;
    border: 3px solid var(--white-color);
    box-shadow: inset 0 0 0.5em 0 var(--section-masblack-color),
    0 0 0.5em 0 var(--white-color);
    cursor: pointer;
    transition: all .3s ;
    margin-block: 1rem;
}
.button:hover {
    background:var(--section-lowGray-color);
    color: var(--section-medyoblack-color);
}
/* flip card */
.flip-content {
    position: absolute;
    width: 300px;
    height: 300px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  
  /* THE CARD HOLDS THE FRONT AND BACK FACES */
  .flip-card{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }
  
  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  .flip-card:hover{
    transform: rotateY(180deg);
  }
  
  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
   .flip-front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: var(--main-color);
    color: #000;
  }
  
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  .flip-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: var(--section-lowGray-color);
    text-align: center;
    transform: rotateY(180deg);
  }
  .flip-name {
    font-size: 18px;
    font-weight: 700;
    color: var(--section-masblack-color);
  }
  .card-content button {
    background-color: var(--section-medyoblack-color);
    color: var(--main-color);
    padding-inline: 1.5em;
    padding-block: .5em;
    font-weight: 650;
    border: 3px solid var(--white-color);
    box-shadow: inset 0 0 0.5em 0 var(--section-masblack-color),
    0 0 0.5em 0 var(--white-color);
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all .3s ;
   
}
.card-content button:hover {
    background:var(--section-lowGray-color);
    color: var(--section-medyoblack-color);
}
/* flip icon */

.bi-chat-square-text-fill,.bi-envelope-at-fill,.bi-globe,.bi-share-fill {
    font-size: 6rem;
    color: var(--section-masblack-color);
}
.flip-description p {
    font-size: 14px;
    color: var(--section-medyoblack-color);
    text-align: center;
}
.flip-description p a {
    text-decoration: none;
    color: var(--section-medyoblack-color);
}

/* contact section */
.contact-page {
    background-image: url(../assets/6.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding-block: 1rem;

}
.contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.need-validation {
    width: 60%;
}
.col-sm-12 input {
    width: 100%;
    margin: .3rem 0;
}
.col-sm-12 textarea {
    width: 100%;
    margin: .3rem 0;
}
input.btn {
    background-color: var(--section-medyoblack-color);
    color: var(--main-color);
    border-radius: 20px;
    padding-inline: 1.5em;
    padding-block: .5em;
    font-weight: 650;
    border: 3px solid var(--white-color);
    box-shadow: inset 0 0 0.5em 0 var(--section-masblack-color),
    0 0 0.5em 0 var(--white-color);
    cursor: pointer;
    transition: all .3s ;
    margin-block: 1rem;
}
input.btn:hover {
    background:var(--section-lowGray-color);
    color: var(--section-medyoblack-color);
}
.contac-link h4 {
    text-align: center;
}
.contact-icon-link  i {
    padding: 0 1rem;
    color: var(--main-color);
    font-size: 22px;
}

/* location */
.location {
    padding: 1rem;
    background-color: var(--section-masblack-color);
    min-height: 100vh;
    padding-bottom: 5rem;
}
.search-location {
    margin-bottom: 2rem;
}
.search-location button {
    background-color: var(--section-medyoblack-color);
    color: var(--main-color);
    border-radius: 20px;
    padding-inline: 1.5em;
    padding-block: .5em;
    font-weight: 650;
    border: 3px solid var(--white-color);
    box-shadow: inset 0 0 0.5em 0 var(--section-masblack-color),
    0 0 0.5em 0 var(--white-color);
    cursor: pointer;
    transition: all .3s ;
    margin-inline: 1rem;
}
.search-location button:hover {
    background:var(--section-lowGray-color);
    color: var(--section-medyoblack-color);
}
.search-location input {
    border-radius: 20px;
    padding-inline: 1.5em;
    padding-block: .5em;
}

/* Footer */
footer {
    background: var(--section-medyoblack-color);
    padding-top: 2.5em;
    padding-bottom: 1.5em;
    color: var(--white-color);
}
.footer-box {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}
.footer-link {
    font-weight: 700;
    color: var(--main-color);
}

.copy-reserve {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
#copyright {
    color: var(--main-color);
    font-weight: 600;
    margin-inline: .5em;
}
.quick-navigation p {
    color: var(--section-lowGray-color);
}
.quick-navigation p a {
    text-decoration: none;
    color: var(--section-lowGray-color);
}
@media screen and (max-width: 1000px) {
    /* For mobile phones: */
    .menu {
        display: none;
    }
    .left-description h1 {
        font-size: 1.5em;
    }
    .left-description p {
        font-size: .7em;
    }
  }
  @media screen and (max-width: 767px) {
    /* For mobile phones: */
    .menu {
        display: block;
        margin-top: 2rem;
        margin-inline: 2rem;
    }
    
    .logo img {
        position: absolute;
        display: block;
        left: -7rem;
        top: 2rem;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 2rem;
        margin-top: 0;
        margin-bottom: 0;    
    }
    .tab {
        display: none;
    }
    .left-description {
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .menu {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2em;
        color: var(--main-color);
    }
    .menu:hover {
        text-shadow: 0 0 0.125em var(--main-color),
        0 0 0.45em var(--main-color);
    }
    
    .left-description h1 {
        margin-top: 2em;
        font-size: 2em;
    }
    .left-description p {
        font-size: 1em;
    }
    .wave {
        display: none;
    }
    .footer-box p {
        font-size: 12px;
    }
    .left-description {
        margin-top: 2rem;
    }
}