:root {
    --section-medyoblack-color:#101010;
    --section-masblack-color:#202020;
    --section-medyoGray-color:#3f3d37;
    --section-lowGray-color:#7a7b6c;
    --white-color:#ffffff;
     --main-color:#df9b0a; 
     --section-black-color:#000000;
     --backgroun-transparent: hsl(0 0% 0% / .6);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none;
}
/*start of navigation bar*/
header {
    position: fixed;
    height: 100px;
    width: 100%;
    background:var(--backgroun-transparent);
    z-index: 2;
    box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.49);
    -webkit-box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.49);
}
.navigation {
    display: flex;
    color: var(--white-color);
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.menu {
    display: none;
}
.logo img {
    height: 90px;
    width: 90px;
    margin-top: -1.2em;
}
.tab {
    display: flex;
    color: var(--white-color);
    font-weight: 650;
    margin-top: -1em;
}
.tab li {
    list-style: none;
    margin-block: 3rem;
    margin-inline: 1em;
    border-radius: 20px;
    padding-inline: 1em;
    padding-block: .3em;
    font-weight: 650;
    border: 3px solid var(--white-color);
    box-shadow: inset 0 0 0.5em 0 var(--section-masblack-color),
    0 0 0.5em 0 var(--main-color);
    transition: all ease-in-out .5s;
}
.tab li:hover {
    background-color: var(--white-color);
}
.tab li a {
    text-decoration: none;
    color: var(--white-color);
    transition: all ease-in-out .5s;
}
.tab li a:hover {
    color: var(--section-black-color);
}

#active {
    border: 2px solid var(--white-color);
    border-radius: 15px;
    background: var(--white-color);
}
.active {
    color: var(--section-black-color) !important;
}
.animation-name .text {
    position: relative;
    color: var(--main-color);
    font-size: 2.6rem;
    font-weight: 700;
}
.animation-name .text .first-text {
    color: var(--section-medyoblack-color);
}
.text.second-text:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1A1A1A;
    border-left:2px solid  var(--white-color);
    animation: name 4s steps(12) infinite;
}
@keyframes name{
    40%, 60% {
        left: calc(100% + 4px);
    }
    100% {
        left: 0%;
    }
}

/*start of section*/
.quick-background {
    background-color: var(--section-masblack-color);

}
section {
    color: var(--white-color);
    display: grid;
    place-items: center;
}

.hidden {
    opacity: 0;
    transition: all 1;
}
.show {
    opacity: 1;
}
.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.background1 {
    min-height: 100vh;
    background-image: url(/assets/backgournd1.png);
    background-position: center;
    background-size: cover;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 4em;
}
.right-image {
    margin-top: 6rem;
}
.carousel {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 3px solid var(--white-color);
    box-shadow: inset 0 0 0.5em 0 var(--white-color),
    0 0 0.5em 0 var(--white-color);
    overflow: hidden;
}
.carousel img {
    height: 350px;
    width: 350px;
}
.left-description {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding-left: 2rem;
}
.right-image {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.wave {
    position: relative;
}
.wave button {
    color: var(--main-color);
    position: absolute;
    margin-top: 2em;
    border-radius: 20px;
    padding-inline: 1.5em;
    padding-block: .5em;
    font-weight: 650;
    background-color: var(--section-medyoblack-color);
    border: 3px solid var(--white-color);
    box-shadow: inset 0 0 0.5em 0 var(--section-masblack-color),
    0 0 0.5em 0 var(--white-color);
    cursor: pointer;
    transition: all .3s ;
}
.wave button:hover {
    background:var(--section-lowGray-color);
    color: var(--section-medyoblack-color);
}


.icon-grid {
    display: flex;
    justify-content: flex-start;
    font-size: 1.8rem;
    margin-top: 2rem;
}
.icon-grid a {
    color: var(--main-color);
    margin-inline: .5em;
}
/*Quick Section*/
#tagname {
    margin-top: 1.5em;
    margin-bottom: 2em;
    font-weight: 700;
    position: relative;
}
.tagnameColor {
    color: var(--main-color);
}
.quick-info-box{
    height: auto;
    width: 400px;
    padding: 1em;
    border: 3px solid var(--white-color);
    box-shadow: inset 0 0 0.5em 0 var(--section-masblack-color),
    0 0 0.5em 0 var(--white-color);
    margin-inline: 1em;
    margin-bottom: 1em;
}
#quick-info-button {
    border-radius: 20px;
    padding-inline: 1.5em;
    padding-block: .5em;
    font-weight: 650;
    border: 3px solid var(--main-color);
    box-shadow: inset 0 0 0.5em 0 var(--main-color),
    0 0 0.5em 0 var(--main-color);
}

.quick-info-message {
    margin-top: 2em;
}


#quick-info-box {
    background: var(--section-medyoblack-color);
    padding: .5em;
    text-align: left;
}
.whyhireme {
    margin-top: 3em;
}
.whyhireme-box {
    margin-top: 2em;
    height: 80px;
    width: 100%;
    border: 2px solid var(--main-color);
    box-shadow: inset 0 0 0.5em 0 var(--main-color),
    0 0 0.5em 0 var(--main-color);
    position: relative;
}
.whyhireme-medium-box {
    position: absolute;
    height: 75%;
    width: 4em;
    margin: .5em;
    background: var(--main-color);
    animation: animatedbox 4s ease infinite;
}
.whyhireme-medium-box-1st {
    position: absolute;
    height: 75%;
    width: 4em;
    margin: .5em;
    background: var(--main-color);
    animation: animatedbox1 4s ease infinite;
}
.whyhireme-box:last-child {
    margin-bottom: 2em;
}
@keyframes animatedbox {
    50% {
        right: 77%;
    }
    100% {
        right: 1em;
    }
}
@keyframes animatedbox1 {
    0% {
        left: 1em;
    }
    50% {
        left: 77%;
    }
    100% {
        left: 1em;
    }
}
.whyhireme-small-box {
    position: absolute;
    height: 1em;
    width: 1em;
    background: var(--main-color); 
    right: 0; 
}
.left-small {
    left: 0;
}
.right {
    right: 1em;
}

/*third section*/
.recent-project-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    margin-bottom: 5em;
}
.recent-project-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    border: 2px solid var(--main-color);
    box-shadow: inset 0 0 0.5em 0 var(--main-color),
    0 0 0.5em 0 var(--main-color);
    background-image: url(/assets/Ronie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    isolation: isolate;
    position: relative;
    transition: .5s ease-in-out;
}
.mini-project-margin {
    margin-inline: 2em;
    color: var(--white-color);
}
.recent-project-box:hover {
    color: var(--main-color);
}
.recent-project-box::after {
    position: absolute;
    content: '';
    inset: 0;
    background: var(--section-medyoblack-color);
    z-index: -1;
    opacity: .7;
    transition: .5s ease-in-out;
}
.recent-project-box:hover::after {
    opacity: 0;
}
.button-recent-project button {
    bottom: -1.6rem;
    left: 6.5rem;
    position: absolute;
    border-radius: 20px;
    padding-inline: 1.5em;
    padding-block: .5em;
    font-weight: 650;
    color: var(--main-color);
    background-color: var(--section-medyoblack-color);
    border: 3px solid var(--white-color);
    box-shadow: inset 0 0 0.5em 0 var(--section-masblack-color),
    0 0 0.5em 0 var(--white-color);
    cursor: pointer;
    transition: all .3s ;
}
.button-recent-project button:hover {
    background:var(--section-lowGray-color);
    color: var(--section-medyoblack-color);
}

/*fourth section*/
.recent-background {
    min-height: 100vh;
    background-image: url(/assets/1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.recent-background::before{
    position: absolute;
    content: '';
    inset: 0;
    background-color: var(--section-black-color);
    opacity: .7;
}
.recent-commission {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    margin-bottom: 5em; 
}
.project1,.project2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
.project-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border: 2px solid var(--main-color);
    box-shadow: inset 0 0 0.5em 0 var(--main-color),
    0 0 0.5em 0 var(--main-color);
    position: relative;   
    background-image: url(/assets/Ronie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    isolation: isolate;
    position: relative;
    transition: .5s ease-in-out; 
}
.project-box:hover {
    color: var(--main-color);
}
.project-box::after {
    position: absolute;
    content: '';
    inset: 0;
    background: var(--section-medyoblack-color);
    z-index: -1;
    opacity: .7;
    transition: .5s ease-in-out;
}
.project-box:hover::after {
    opacity: 0;
}
.project-box::before {
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    height: 30px;
    width: 100%;
    background: var(--main-color);
}
.project-box button {
    bottom: -1.6rem;
    left: 10.5rem;
    position: absolute;
    border-radius: 20px;
    padding-inline: 1.5em;
    padding-block: .5em;
    font-weight: 650;
    border: 3px solid var(--white-color);
    box-shadow: inset 0 0 0.5em 0 var(--white-color),
    0 0 0.5em 0 var(--section-lowGray-color);
}
.recent-commission-message p {
    margin-bottom: 2em;
    width: 60%;
}

/*last section*/
.customer-background {
    background-image: url(/assets/2.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.box {
    border: 2px solid var(--main-color);
    box-shadow: inset 0 0 0.5em 0 var(--main-color),
    0 0 0.5em 0 var(--main-color);
    background: var(--section-black-color);
    height: auto; 
    padding: 0 2em 2em 2em;
    margin-bottom: 2em;
}
.get-update {
    margin-top: 2em;
    margin-bottom: 1em;
}
.get-update-input input {
    width: 50%;
    height: 3rem;
    border: 2px solid var(--main-color);
    box-shadow: inset 0 0 0.5em 0 var(--main-color),
    0 0 0.5em 0 var(--main-color);
    background: var(--section-black-color);
    color: var(--white-color);
    padding-inline: 1em;
}
.get-update button {
    margin-bottom: 1em;
    margin-top: 2em;
    border-radius: 20px;
    padding-inline: 1.5em;
    padding-block: .5em;
    font-weight: 650;
    border: 3px solid var(--main-color);
    box-shadow: inset 0 0 0.5em 0 var(--main-color),
    0 0 0.5em 0 var(--main-color);
}
.get-feedback-input input {
    width: 100%;
    height: 3rem;
    border: 2px solid var(--main-color);
    box-shadow: inset 0 0 0.5em 0 var(--main-color),
    0 0 0.5em 0 var(--main-color);
    background: var(--section-black-color);
    color: var(--white-color);
    padding-inline: 1em;
    background: var(--section-medyoblack-color);
}
.get-feedback-input input:last-child {
    margin-top: 1em;
}
.get-feedback button {
    margin-top: 2em;
    border-radius: 20px;
    padding-inline: 1.5em;
    padding-block: .5em;
    font-weight: 650;
    border: 3px solid var(--main-color);
    box-shadow: inset 0 0 0.5em 0 var(--main-color),
    0 0 0.5em 0 var(--main-color);
}
/*review section*/
.customer-message p {
    padding-top: 2em;
}
.icon-review i{
    padding: .2rem;
    color: yellow;
    font-size: 1rem;
}
.link-review a {
    padding: .2rem;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--main-color);
}
/*footer*/
footer {
    background: var(--section-medyoblack-color);
    padding-top: 2.5em;
    padding-bottom: 1.5em;
    color: var(--white-color);
}
.footer-box {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}
.footer-link {
    font-weight: 700;
    color: var(--main-color);
}

.copy-reserve {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
#copyright {
    color: var(--main-color);
    font-weight: 600;
    margin-inline: .5em;
}
.quick-navigation p {
    color: var(--section-lowGray-color);
}
.quick-navigation p a {
    text-decoration: none;
    color: var(--section-lowGray-color);
}
@media screen and (max-width: 1000px) {
    /* For mobile phones: */
    .menu {
        display: none;
    }
    .left-description h1 {
        font-size: 1.5em;
    }
    .left-description p {
        font-size: .7em;
    }
    .bday li {
    padding-inline: 1em;
    margin-inline: .5em;
    }
    .wave button {
        margin-top: 4em;
        font-size: .7em;
        width: 10em;
    }.carousel-item {
        height: 500px;
    }
    .carousel-item img {
        height: 450px;
    }
  }
  @media screen and (max-width: 767px) {
    /* For mobile phones: */
    .menu {
        display: block;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 2rem;
        margin-top: 0;
        margin-bottom: 0;    
    }
    .tab {
        display: none;
    }
    .left-description {
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .menu {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2em;
        color: var(--main-color);
    }
    .menu:hover {
        text-shadow: 0 0 0.125em var(--main-color),
        0 0 0.45em var(--main-color);
    }
    .left-description h1 {
        margin-top: 2em;
        font-size: 2em;
    }
    .left-description p {
        font-size: 1em;
    }
    .bday li {
        font-size: .8em;
        padding-inline: 1.5em;
        padding-block: .5em;
        margin-inline: .5em;
        font-size: 1rem;
    }
    .wave {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
    }
    .wave button {
        margin-top: 4em;
        font-size: 1em;
        width: 10em; 
    }
    .icon-grid {
        font-size: 2rem;
        margin-top: 7rem;
    }
    .carousel-item {
        height: 500px;
    }
    .carousel-item img {
        height: 450px;
    }.footer-box p {
        font-size: 12px;
    }
}
  @media screen and (max-width: 600px) {
    /* For mobile phones: */
    .grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 2rem;
    }
    .tab {
        display: none;
    }
    .left-description {
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .menu {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2em;
        color: var(--main-color);
    }
    .menu:hover {
        text-shadow: 0 0 0.125em var(--main-color),
        0 0 0.45em var(--main-color);
    }
    .left-description h1 {
        margin-top: 2em;
        font-size: 1.5em;
    }
    .left-description p {
        font-size: .7em;
    }
    .bday li {
        font-size: .8em;
        padding-inline: 1em;
        margin-inline: .5em;
    }
    .wave {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
    }
    .wave button {
        margin-top: 4em;
        font-size: .7em;
        width: 10em;
    }
    .icon-grid {
        font-size: 1.5rem;
        margin-top: 5rem;
    }.carousel-item {
        height: 400px;
    }
    .carousel-item img {
        height: 350px;
    }

  }
  @media screen and (max-width: 575px) {
    .circle-box {
        display: flex;
        justify-content: center;
    }
    .circle {
        height: 20px;
        width: 20px;
    }
    .circle1 {
        position: relative;
        height: 20px;
        width: 20px;
    }
    .circle1::before {
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
    }

  }
  @media screen and (max-width: 544px) {
    .footer-box {
        display: block;
    }
    .quick-navigation h6 {
        margin-top: 2em;
    }
    .copy-reserve p {
        width: 30ch;
    }
  }
  @media screen and (max-width: 524px) {
    .project-box {
        height: 400px;
        width: 400px;
    }
    .project-box button {
        left: 8rem;
    }
  }
  @media screen and (max-width: 520px) {
    .project-box,.recent-project-box {
        height: 300px;
        width: 300px;
    }
    .project-box button {
        left: 4.5rem;
    }
    .recent-project-box button {
        left: 3.3rem;
    }
    #quick-info-box {
        font-size: 12px;
    }
    .recent-commission-message {
        font-size: 12px;
    }

  }

.qoute img {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 0;
    right: 0;
    padding: 1rem;
    opacity: .5;
}
  /* Quick Info Swiper */
  .slide-container {
    max-width: 95%;
    width: 100%;
    padding: 0px 20x;
}
.slide-content{
    margin: 0 50px;
    background-color: transparent;
    overflow: hidden;
    border-radius: 25px;
}
.card{
    width: 300px;
    border-radius: 25px;
    background-color: var(--section-lowGray-color);
}
.slide-container-review {
    max-width: 95%;
    width: 100%;
    padding: 0px 20x;
}
.slide-content-review {
    margin: 0 50px;
    background-color: transparent;
    overflow: hidden;
    border-radius: 25px;
}
.card-review {
    width: 300px;
    background-color: var(--section-lowGray-color);
}
.image-content,.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content {
    position: relative;
    row-gap: 5px;
    border-radius: 25px;

}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    border-radius: 25px;
}
.overlay::after,.overlay::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40x;
    width: 40px;
 
}
.overlay::after {
    position: absolute;
    border-radius: 0 25px 0 0;
}
.overlay-review {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    
}
.overlay-review::after,.overlay::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40x;
    width: 40px;
 
}
.overlay-review::after {
    position: absolute;
    
}
.card-image {
    height: 150px;
    width: 150px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--white-color);
    box-shadow: inset 0 0 0.5em 0 var(--section-masblack-color),
    0 0 0.5em 0 var(--white-color);
    border: 3px solid var(--white-color);
}
.card-image.card-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.name {
    font-size: 18px;
    font-weight: 500;
    color: var(--section-medyoblack-color);
}
.description {
    font-size: 14px;
    color: var(--white-color);
    text-align: center;
}
.button {
    background-color: var(--section-medyoblack-color);
    color: var(--main-color);
    border-radius: 20px;
    padding-inline: 1.5em;
    padding-block: .5em;
    font-weight: 650;
    border: 3px solid var(--white-color);
    box-shadow: inset 0 0 0.5em 0 var(--section-masblack-color),
    0 0 0.5em 0 var(--white-color);
    cursor: pointer;
    transition: all .3s ;
}
.button:hover {
    background:var(--section-lowGray-color);
    color: var(--section-medyoblack-color);
}
.name-review {
    font-size: 18px;
    font-weight: 500;
    color: var(--section-medyoblack-color);
    padding-top: 1rem;
}
.description-review {
    font-size: 14px;
    color: var(--white-color);
    text-align: center;
    padding: 1rem;
}
.button-review {
    background-color: var(--section-medyoblack-color);
    color: var(--main-color);
    border-radius: 20px;
    padding-inline: 1.5em;
    padding-block: .5em;
    font-weight: 650;
    border: 3px solid var(--white-color);
    box-shadow: inset 0 0 0.5em 0 var(--section-masblack-color),
    0 0 0.5em 0 var(--white-color);
    cursor: pointer;
    transition: all .3s ;
    margin-bottom: 1rem;
    margin-inline: 3rem;
}
.button-review:hover {
    background:var(--section-lowGray-color);
    color: var(--section-medyoblack-color);
}
